.song-div {
  width: 250px;
  border: 3px solid navy;
  margin: 4px;
  border-radius: 15px;
  padding: 5px;
  background-color: whitesmoke;
}

.song-content-div {
  margin: 10px 0 5px 0;
}

.song-button-div {
  display: flex;
  flex-direction: row-reverse;
}

.song-div p {
  margin: 0 0 3px 0;
  border-bottom: 1px solid #83B8FA;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  background-color: #C3A765;
  border: none;
  width: 30px;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}