.song-div {
  width: 250px;
}

.song-content-div {
  margin: 10px 0 5px 0;
}

.song-button-div {
  display: flex;
  flex-direction: row-reverse;
}

.song-div p {
  margin: 0 0 3px 0;
  border-bottom: 1px solid aqua;
  font-size: 12px;
}

button {
  background-color: navy;
  border: none;
  width: 30px;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}