html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.App, #root, body {
  display: flex;
  flex-direction: column;
}

.title-container {
  color: white;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(34,96,241,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-container h1,
.title-container h3 {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title-container h3 {
  color: #2260f1;
}

.title-container span {
  margin-top: 15px;
  font-family: Walter;
}

.main-container {
  width: 100%;
  height: 100%;
}

.playlist-container {
  overflow: scroll;
  height: 80%;
  margin-bottom: 150px;
}

.form-div {
  position: fixed;
  bottom: 0;
  width: 100%;
}