html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.App, #root, body {
  display: flex;
  flex-direction: column;
}

.title-container {
  color: white;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(34,96,241,1) 100%); */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background-image: url(http://1.bp.blogspot.com/-5qtWSOGn9AI/UidRN5YaTCI/AAAAAAAAAYc/kEZYjs4fm8A/s1600/7951-disney-disney-characters.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-position: 55% 68%;
}

.title-container h1,
.title-container h3 {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: -1px 1px 6px navy;
}

.title-container span {
  margin-top: 15px;
  font-family: Walter;
}

.main-container {
  width: 100%;
  height: 100%;
}

.playlist-container {
  overflow: scroll;
  height: 80%;
}

.form-div {
  width: 100%;
}

@media screen and (min-width: 768px) {

  .main-container {
    /* display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%; */
    display: flex;
    flex-direction: column-reverse;

  }

  .form-div {
    
  }

  .playlist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title-container {
    margin-bottom: 0;
  }

  .list-container:first-child {
    width: 60%;
  }

  .list-container:nth-child(2) {
    width: 40%;
  }

  .list-container:nth-child(2) .song-div {
    width: 230px;
    height: 75px;
    display: flex;
    flex-direction: row;

  }

  .list-container:nth-child(2) .song-button-div {
    display: flex;
    flex-direction: column-reverse;
  }

}