html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.App, #root, body {
  display: flex;
  flex-direction: column;
  clear: both;
}

.main-container {
  width: 100%;
  height: 100%;
}

.playlist-container {
  overflow: scroll;
  height: 80%;
  margin-bottom: 150px;
}

.form-div {
  border: 1px solid green;
  position: fixed;
  bottom: 0;
  height: 20%;
  width: 100%;
  background-color: navy;
  color: aquamarine;
}